.text_div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 10px;
}

.center_all {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 200px;
}
