@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Playfair+Display:wght@400;500;600&display=swap');


* {
    margin: 0;
  }
  
  html,
  body {
    height: 100%;
  }

  .MuiSvgIcon-root {
      color: white;
  }
  
  .wrapper {
    min-height: 100%;
    height: auto !important;
    /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -20px;
    /* the bottom margin is the negative value of the footer's height */
  }
  
  .footer,
  .push {
    height: 20px;
    /* .push must be the same height as .footer */
  }